doctype 5
html(ng-app="")
  head
    title= title
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name='viewport', content='initial-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/flat-ui.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js')
  body
    block content

    script(src='/javascripts/BBOCController.js')